html,
body {
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  min-width: 300px;
  font-weight: 400;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  background-color: #e5e5e5;
  padding: 80px;
}
.container {
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 80px;
}
section,
header,
footer {
  background-color: #fff;
  margin-bottom: 40px;
}
.title {
  font-size: 48px;
  color: #000;
  line-height: 72px;
  letter-spacing: -0.015em;
}
.text {
  font-size: 36px;
  color: rgba(#000, 0.8);
  line-height: 50px;
  letter-spacing: -0.015em;
}
.rectangle {
  width: 100%;
  max-height: 76px;
  height: 100%;
  margin: 0 auto;
}
.ellipse {
  width: 44px;
  height: 44px;
}
